<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studentMNGSS.tooltable.mapper.leaveAproMapper">
    
    <resultMap type="leaveApro" id="leaveAproResult">
        <result property="applicationId"    column="application_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="leaveType"    column="leave_type"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="reason"    column="reason"    />
        <result property="attachment"    column="attachment"    />
        <result property="status"    column="status"    />
        <result property="approverId"    column="approver_id"    />
        <result property="approveTime"    column="approve_time"    />
        <result property="rejectReason"    column="reject_reason"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectleaveAproVo">
        select application_id, student_id, leave_type, start_time, end_time, reason, attachment, status, approver_id, approve_time, reject_reason, create_time, update_time from biz_leave_application
    </sql>

    <select id="selectleaveAproList" parameterType="leaveApro" resultMap="leaveAproResult">
        <include refid="selectleaveAproVo"/>
        <where>  
            <if test="leaveType != null  and leaveType != ''"> and leave_type = #{leaveType}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
        </where>
    </select>
    
    <select id="selectleaveAproByApplicationId" parameterType="Long" resultMap="leaveAproResult">
        <include refid="selectleaveAproVo"/>
        where application_id = #{applicationId}
    </select>

    <insert id="insertleaveApro" parameterType="leaveApro" useGeneratedKeys="true" keyProperty="applicationId">
        insert into biz_leave_application
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null">student_id,</if>
            <if test="leaveType != null">leave_type,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="reason != null">reason,</if>
            <if test="attachment != null">attachment,</if>
            <if test="status != null">status,</if>
            <if test="approverId != null">approver_id,</if>
            <if test="approveTime != null">approve_time,</if>
            <if test="rejectReason != null">reject_reason,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null">#{studentId},</if>
            <if test="leaveType != null">#{leaveType},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="reason != null">#{reason},</if>
            <if test="attachment != null">#{attachment},</if>
            <if test="status != null">#{status},</if>
            <if test="approverId != null">#{approverId},</if>
            <if test="approveTime != null">#{approveTime},</if>
            <if test="rejectReason != null">#{rejectReason},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateleaveApro" parameterType="leaveApro">
        update biz_leave_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="leaveType != null">leave_type = #{leaveType},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="attachment != null">attachment = #{attachment},</if>
            <if test="status != null">status = #{status},</if>
            <if test="approverId != null">approver_id = #{approverId},</if>
            <if test="approveTime != null">approve_time = #{approveTime},</if>
            <if test="rejectReason != null">reject_reason = #{rejectReason},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where application_id = #{applicationId}
    </update>

    <delete id="deleteleaveAproByApplicationId" parameterType="Long">
        delete from biz_leave_application where application_id = #{applicationId}
    </delete>

    <delete id="deleteleaveAproByApplicationIds" parameterType="String">
        delete from biz_leave_application where application_id in 
        <foreach item="applicationId" collection="array" open="(" separator="," close=")">
            #{applicationId}
        </foreach>
    </delete>
</mapper>